<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="parallel_CrossBrow.class_1"/>
      <class name="parallel_CrossBrow.class_2"/>
      <class name="parallel_CrossBrow.Para_Cross"/>
      <class name="parallel_CrossBrow.class_5"/>
      <class name="parallel_CrossBrow.class_3"/>
      <class name="parallel_CrossBrow.class_4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
